* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

img {
    width: 100%;
    padding: 1%;
}

a {
    text-decoration: none;
    list-style: none;
    color: inherit;
}


/* ==Mobile== */

header {
    background: blanchedalmond;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

header form {
    display: none;
}



/* ==MAIN== */


main {
    display: flex;
    flex-direction: column;
}

main h2 {
    text-align: center;
    font-size: 1rem;
    padding: 1rem;
}

main article {
    margin-bottom: 0.5rem;
    text-align: center;
    padding: 0.3rem;
}


.section__art-pcto {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.section__art-des {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(95, 95, 95);
}


/* =Contacto= */
.cuerpo__contacto {
    padding: 1rem;
    padding-bottom: 6rem;
}

.cuerpo__contacto h2 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
    text-align: center;
}

.cue__con-form {
    background: rgba(0, 0, 0, 0.116);
    padding: 1rem
}

.cue__con-form div {
    padding: 0.2rem;
}

.cue__con-form div input,
.cue__con-form div label,
.cue__con-form div textarea {
    width: 100%;
    padding: .5rem;
    border: none;
    border-radius: 5%;
}

.cue__con-boton {
    background: blanchedalmond;
}

/* ==Footer== */

footer {
    background-color: black;
    color: white;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

footer h4 {
    text-align: center;
    padding: 0.3rem;
    font-size: 1.2rem;
}

footer p {
    text-align: center;
    font-size: 1rem;
}

.span__insta{
    background-color: orangered;
    border-radius: 5px;
    padding: .3rem;
}
.span___face{
    background-color: blue;
    border-radius: 5px;
    padding: .3rem;
}
.span__tiktok{
    background-color: gray;
    border-radius: 5px;
    padding: .3rem;
}



@media (min-width: 768px) {
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    header form {
        display: flex;
        justify-content: end;
        padding-right: 1rem;
        padding-top: 1rem;
        align-items: center;
    }

    

    header h1 {
        text-align: start;
        padding-left: 1rem;
        padding-top: 1rem;
    }

    header nav {
        grid-column: span 2;
        padding-top: 1rem;
        
    }

    

    /* MAIN */
    main {
        text-align: center;
    }

    .main__destacado {
        align-items: center;
        padding: 1rem;
    }

    .main__destacado img {
        max-height: 450px;
        object-fit: cover;
    }

    .section__tarjetas {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 1rem;
        margin-right: 1rem;
        gap: 1rem
    }

    .section__tarjetas img {
        max-height: 300px;
        object-fit: scale-down;
    }


    /* FOOTER */
    footer {
        gap: 1rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .footer__nosotros {
        grid-column: span 2;
    }



    .cue__con-form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: auto;
        margin-right: auto;
    }

    .block {
        grid-column: span 2;
    }
}




/* ===Vista Desktop=== */

@media (min-width: 1200px) {
    /* =Header== */

    header h1 {
        text-align: center;
    }

    header form {
        justify-content: center;
    }
    
    

    /* ==Main== */

    .section__tarjetas {
        grid-template-columns: repeat(4, 1fr);
    }

    .section__h3 {
        padding-top: 3rem;
    }


    /* ==Footer== */

    footer {
        grid-template-columns: repeat(3, 1fr);
    }

    footer .footer__nosotros {
        grid-column: span 1;
    }

    
    /* ==Contacto== */

    .cuerpo__contacto {
        margin-left: 5%;
        margin-right: 5%;
    }
}