* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

img {
  width: 100%;
  padding: 1%;
}

a {
  text-decoration: none;
  list-style: none;
  color: inherit;
}

header {
  font-family: Montserrat, sans-serif;
  background: rgb(255, 218, 185);
  background: linear-gradient(0deg, rgb(255, 218, 185) 40%, rgb(222, 184, 135) 63%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

@media (min-width: 768px) {
  header {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  header h1 {
    text-align: start;
    padding-left: 1rem;
    padding-top: 1rem;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
  }
  header nav {
    grid-column: span 2;
    padding-top: 1rem;
  }
}
@media (min-width: 1200px) {
  header h1 {
    text-align: center;
  }
}
footer {
  font-family: Montserrat, sans-serif;
  background-color: black;
  color: white;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
footer:h4 {
  text-align: center;
  padding: 0.3rem;
  font-size: 1.2rem;
}
footer:p {
  text-align: center;
  font-size: 1rem;
}

.span__insta {
  background-color: orangered;
  border-radius: 5px;
  padding: 0.3rem;
}

.span___face {
  background-color: blue;
  border-radius: 5px;
  padding: 0.3rem;
}

.span__tiktok {
  background-color: rgb(95, 95, 95);
  border-radius: 5px;
  padding: 0.3rem;
}

@media (min-width: 768px) {
  footer {
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }
  .footer__nosotros {
    grid-column: span 2;
  }
  .cue__con-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
  }
  .block {
    grid-column: span 2;
  }
}
@media (min-width: 1200px) {
  footer {
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }
}
form {
  font-family: Montserrat, sans-serif;
  display: none;
}

.form {
  border-radius: 5px;
  border: none;
  margin-right: 12px;
}

@media (min-width: 768px) {
  form {
    display: flex;
    justify-content: end;
    padding-right: 1rem;
    padding-top: 1rem;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  form {
    justify-content: center;
  }
}
.cue__con-boton {
  background: blanchedalmond;
}

.tarjeta img {
  max-height: 350px;
  object-fit: contain;
}

main {
  display: flex;
  flex-direction: column;
}
main h2 {
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  padding: 1rem;
}
main article {
  margin-bottom: 0.5rem;
  text-align: center;
  padding: 0.3rem;
}

.section__art-pcto {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.section__art-des {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(95, 95, 95);
}

.main__destacado {
  align-items: center;
  padding: 1rem;
}
.main__destacado img {
  max-height: 200px;
  object-fit: cover;
}

@media (min-width: 768px) {
  main {
    text-align: center;
  }
  .main__destacado {
    align-items: center;
    padding: 1rem;
  }
  .main__destacado img {
    max-height: 300px;
    object-fit: cover;
  }
  .section__tarjetas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 1rem;
    margin-right: 1rem;
    gap: 1rem;
  }
  .section__tarjetas:img {
    max-height: 300px;
    object-fit: scale-down;
  }
}
@media (min-width: 1200px) {
  .section__tarjetas {
    grid-template-columns: repeat(4, 1fr);
  }
  .section__h3 {
    padding-top: 3rem;
    font-family: Montserrat, sans-serif;
  }
  .main__destacado img {
    max-height: 450px;
    object-fit: cover;
  }
}
.cuerpo__contacto {
  font-family: Montserrat, sans-serif;
  padding: 1rem;
  padding-bottom: 6rem;
}
.cuerpo__contacto h2 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  text-align: center;
}

.cue__con-form {
  background: rgba(0, 0, 0, 0.116);
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.cue__con-form div {
  padding: 0.2rem;
}
.cue__con-form div input,
.cue__con-form div label,
.cue__con-form div textarea {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 5%;
}

@media (min-width: 768px) {
  .cue__con-form {
    background: rgba(0, 0, 0, 0.116);
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .cuerpo__contacto {
    margin-left: 5%;
    margin-right: 5%;
  }
}
h3 {
  text-align: center;
  gap: 1rem;
  font-family: Montserrat, sans-serif;
}

h3 {
  text-align: center;
  gap: 1rem;
  font-family: Montserrat, sans-serif;
}

h3 {
  text-align: center;
  gap: 1rem;
  font-family: Montserrat, sans-serif;
}

/*# sourceMappingURL=styles.css.map */
