* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

img {
    width: 100%;
    padding: 1%;
}

a {
    text-decoration: none;
    list-style: none;
    color: inherit;
}

$c-principal: blanchedalmond;
$c-white: white;
$c-black: black;
$c-gray: rgb(95, 95, 95);
$ff-arial: Arial, Helvetica, sans-serif;
$ff-montserrat: Montserrat, sans-serif;

@mixin text-center{
    text-align: center;
}
@mixin flex-collumn{
    display: flex;
    flex-direction: column;
}