//Mobile

main {
    display: flex;
    flex-direction: column;

    h2 {
        text-align: center;
        font-size: 1rem;
        padding: 1rem;
    }

    article {
        margin-bottom: 0.5rem;
        text-align: center;
        padding: 0.3rem;
    }
}

.section__art-pcto {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.section__art-des {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(95, 95, 95);
}

//Tablet

@media (min-width: 768px) {
    main {
        text-align: center;
    }

    .main__destacado {
        align-items: center;
        padding: 1rem;

        &:img {
            max-height: 450px;
            object-fit: cover;
        }
    }

    .section__tarjetas {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 1rem;
        margin-right: 1rem;
        gap: 1rem;

        &:img {
            max-height: 300px;
            object-fit: scale-down;
        }
    }


}

//Desktop

@media (min-width: 1200px) {
    .section__tarjetas {
        grid-template-columns: repeat(4, 1fr);
    }

    .section__h3 {
        padding-top: 3rem;
    }

}