//Mobile

main {
    @include flex-collumn;

    h2 {
        @include text-center;
        font-family: $ff-montserrat;
        font-size: 1rem;
        padding: 1rem;
    }

    article {
        margin-bottom: 0.5rem;
        @include text-center;
        padding: 0.3rem;
    }
}

.section__art-pcto {
    font-family: $ff-arial;
    color: $c-black;
}

.section__art-des {
    font-family: $ff-arial;
    color: $c-gray;
}
.main__destacado {
    align-items: center;
    padding: 1rem;

    img {
        max-height: 200px;
        object-fit: cover;
    }
}


//Tablet
@media (min-width: 768px) {
    header h1{
        text-align: center
    }

    main {
        @include text-center;
    }

    .main__destacado {
        align-items: center;
        padding: 1rem;

        img {
            max-height: 300px;
            object-fit: cover;
        }
    }

    .section__tarjetas {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 1rem;
        margin-right: 1rem;
        gap: 1rem;

        &:img {
            max-height: 300px;
            object-fit: scale-down;
        }
    }


}

//Desktop
@media (min-width: 1200px) {
    .section__tarjetas {
        grid-template-columns: repeat(4, 1fr);
    }

    .section__h3 {
        padding-top: 3rem;
        font-family: $ff-montserrat;
    }

    .main__destacado {
        img {
            max-height: 450px;
            object-fit: cover;
        }
    }
}