.cue__con-boton {
    background: blanchedalmond;
    color: $c-black;
}

.btn {
    border: none;
    background-color: black;
    border-radius: 0 5px 5px 0;
    position: absolute;
    height: 32px;

    &:hover {
        background-color: black;
    }
}